<!-- Buttons -->
<section>
  <header>
    <h1 class="text-xl UP center">Buttons</h1>
  </header>
  <main>
    <section class="buttons">
      <h2 class="text-lg center">Primary Buttons</h2>
      <button type="button" class="btn btn-prim-c">Primary</button>
      <button type="button" class="btn btn-secondary-c btn-sm">
        Secondary
      </button>
      <button type="button" class="btn btn-success-c">Success</button>
      <button type="button" class="btn btn-danger-c">Danger</button>
      <button type="button" class="btn btn-warning-c">Warning</button>
      <button type="button" class="btn btn-info-c">Info</button>
      <button type="button" class="btn btn-light-c">Light</button>
      <button type="button" class="btn btn-dark-c">Dark</button>

      <button type="button" class="btn btn-link-c">Link</button>
    </section>
    <!-- Outline buttons -->
    <section class="Outline_buttons">
      <button type="button" class="btn btn-outline-prim-c">Primary</button>
      <button type="button" class="btn btn-outline-secondary-c">
        Secondary
      </button>
      <button type="button" class="btn btn-outline-success-c">
        Success
      </button>
      <button type="button" class="btn btn-outline-danger-c">Danger</button>
      <button type="button" class="btn btn-outline-warning-c">
        Warning
      </button>
      <button type="button" class="btn btn-outline-info-c">Info</button>
      <button type="button" class="btn btn-outline-light-c">Light</button>
      <button type="button" class="btn btn-outline-dark-c">Dark</button>
    </section>
    <section class="Button_dimension">
      <h2>Large Buttons</h2>
      <button type="button" class="btn btn-prim-c btn-lg">Large</button>
      <button type="button" class="btn btn-secondary-c btn-lg">
        Large
      </button>
      <h2>Small Buttons</h2>
      <button type="button" class="btn btn-prim-c btn-sm">Small</button>
      <button type="button" class="btn btn-secondary-c btn-sm">
        Small
      </button>
      <h2>Block level buttons</h2>
      <div class="block_container">
        <button type="button" class="btn btn-prim-c btn-lg btn-block">
          Small
        </button>
        <button type="button" class="btn btn-secondary-c btn-sm btn-block">
          Small
        </button>
        <button type="button" class="btn btn-outline-warning-c btn-block">
          Warning
        </button>
      </div>
    </section>

    <!-- Checkbox and radio buttons -->

    <section class="Check_and_radio_buttons">
      <h2>Disabled state, Checkbox and radio buttons</h2>
      <button type="button" class="btn btn-lg btn-prim-c" disabled>
        Primary button
      </button>
      <h2>Checkbox buttons</h2>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary-c active">
          <input type="checkbox" checked /> Checked
        </label>
      </div>
      <h2>Radio buttons</h2>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-light-c active">
          <input
            class="active"
            type="radio"
            name="options"
            id="option1"
            checked
          />
          Active
        </label>
        <label class="btn btn-success-c UP">
          <input type="radio" name="options" id="option2" /> On
        </label>
        <label class="btn btn-danger-c UP">
          <input type="radio" name="options" id="option3" /> Off
        </label>
      </div>
    </section>
    <section class="neonButtons">
      <br />
      <!--Neon Buttons  -->
      <h2>Neon Buttons</h2>
      <br />
      <a href="#" class="btn-Neon btn-Neon-Red btn-lg">
        <span class="neon"></span>
        <span class="neon"></span>
        <span class="neon"></span>
        <span class="neon"></span>
        Red Button
      </a>
      <a href="#" class="btn-Neon btn-Neon-Blue btn-lg">
        <span class="neon"></span>
        <span class="neon"></span>
        <span class="neon"></span>
        <span class="neon"></span>
        Red Button </a
      ><a href="#" class="btn-Neon btn-Neon-Green btn-lg">
        <span class="neon"></span>
        <span class="neon"></span>
        <span class="neon"></span>
        <span class="neon"></span>
        Red Button
      </a>
    </section>
  </main>
</section>
