$prim-c: #1177ff;
$secondary-c: #9daaa0;
$success-c: #22aa44;
$danger-c: #cc3b3b;
$warning-c: #ffbb33;
$info-c: #11a2b2;
$light-c: #f8f9f7;
$dark-c: #0a000e;

$btn-bg-prim-c: $prim-c;
$btn-bg-secondary-c: $secondary-c;
$btn-bg-success-c: $success-c;
$btn-bg-danger-c: $danger-c;
$btn-bg-warning-c: $warning-c;
$btn-bg-info-c: $info-c;
$btn-bg-light-c: $light-c;
$btn-bg-dark-c: $dark-c;

$NeonRed: #f40303;
$NeonGreen: #03f423;
$NeonBlue: #032ff4;
$NeonYellow: #f0f403;

$Facebook: #395599;
$Instagram: #ce2f82;
$Twitter: #1c9deb;
$Pinterest: #d73532;
$LinkedIn: #4064ad;
$YouTube: #f80000;
$Snapchat: #ffee00;

$Ipad-Pro: 1024px;
$Ipad: 768px;
$Iphone-X: 375px;

$Font-Size_Map: (
  "xl": 1rem,
  "lg": 1rem,
  "md": 1rem,
  "sm": 1rem,
);

$max-ratio: 2;

@mixin text {
  @each $name, $value in $Font-Size_Map {
    &-#{$name} {
      @if $name == "xl" {
        $xl-ratio: $max-ratio;
        font-size: $value * $xl-ratio;
        padding: ($value * $xl-ratio) / 2;
      }
      @if $name == "lg" {
        $lg-ratio: $max-ratio * 0.75;
        font-size: $value * $lg-ratio;
        padding: ($value * $lg-ratio) / 2;
      }
      @if $name== "md" {
        $md-ratio: $max-ratio * 0.5;
        font-size: $value * $md-ratio;
        padding: ($value * $md-ratio) / 2;
      }
      @if $name == "sm" {
        $sm-ratio: $max-ratio * 0.3;
        font-size: $value * $sm-ratio;
        padding: ($value * $sm-ratio) / 2;
      }
    }
  }
}

.text {
  @include text;
}

$Text-position_Map: (
  "left": left,
  "center": center,
  "right": right,
);

@each $position_name, $position_value in $Text-position_Map {
  .#{$position_name} {
    text-align: $position_value;
  }
}

.UP {
  text-transform: uppercase;
}

$Text-Padding_Map: (
  "tp-0_5": 0.5rem,
  "tp-1": 1rem,
  "tp-1_5": 1.5rem,
  "tp-2": 2rem,
  "tp-2_5": 2.5rem,
  "tp-3": 3rem,
);

@each $padding_name, $padding_value in $Text-Padding_Map {
  .#{$padding_name} {
    padding: $padding_value;
  }
}

$Text-Margin_Map: (
  "tm-0_5": 0.5rem,
  "tm-1": 1rem,
  "tm-1_5": 1.5rem,
  "tm-2": 2rem,
  "tm-2_5": 2.5rem,
  "tm-3": 3rem,
);

@each $margin_name, $margin_value in $Text-Margin_Map {
  .#{$margin_name} {
    margin: $margin_value;
  }
}
