// @import "scss_includes/_01_Comp_Variables.scss";
// @import "scss_includes/_02_Comp_Typography.scss";
// @import "scss_includes/_03_Comp_Buttons.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: Roboto;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.25rem;
  margin-bottom: 3px;
  font-weight: normal;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.75rem;
  margin-bottom: 3px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: grid;
  grid: 48px 1fr / 1fr;
}

body > header {
  display: grid;
  grid: 1fr / 32px 1fr 28px 28px;
  column-gap: 12px;
  align-items: center;
  padding: 0 8px;
  background: darkblue;
  color: white;
}

body > header > a {
  width: 32px;
  height: 32px;
}

#search-videos-icon,
#settings-icon {
  padding-left: 4px;
  width: 28px;
}

main {
  display: grid;
  grid:
    "video-thumbnail" max-content
    "video-details" max-content
    "related-videos" max-content
    "video-comments" max-content
    / 1fr;
}

#video-thumbnail {
  grid-area: video-thumbnail;
}

#video-thumbnail > img {
  width: 100%;
  height: 100%;
}

#video-details {
  grid-area: video-details;
  padding-top: 12px;
}

#video-details > header,
#video-details > div,
#related-videos {
  padding-left: 12px;
  padding-right: 12px;
}

#video-views-count {
  font-size: 1.2rem;
  color: black;
}

#social-container {
  display: grid;
  grid: 1fr / repeat(5, 1fr);
  padding: 12px 0;
}

.social-item {
  display: grid;
  justify-items: center;
  row-gap: 7px;
  color: black;
}

.social-item.active {
  color: darkblue;
}

.social-item > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.social-item > p {
  font-size: 1.2rem;
}

#channel-details {
  display: grid;
  grid: 1fr / 1fr 114px;
  column-gap: 8px;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#channel-details > a {
  display: grid;
  grid: 1fr / 34px 1fr;
  column-gap: 12px;
  align-items: center;
}

#channel-details img {
  width: 34px;
  height: 34px;
}

#channel-subscriber-count {
  color: black;
  font-size: 1.2rem;
}

#channel-details button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.4rem;
  color: darkblue;
  text-transform: uppercase;
}

#channel-details button > img {
  height: 16px;
}

#related-videos {
  grid-area: related-videos;
}

#related-videos > header {
  display: grid;
  grid: 1fr / 1fr repeat(2, max-content);
  column-gap: 8px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1.4rem;
}

#related-videos > header button {
  width: 37px;
  height: 14px;
  border: 0;
  outline: none;
  background: transparent;
  position: relative;
}

.autoplay-slider {
  display: block;
  width: 37px;
  height: 14px;
  border: 8px solid lightslategrey;
  border-radius: 7px;
}

.autoplay-slider-toggle-button {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  border-radius: 100%;
  background: white;
  box-shadow: 0 1px 3px black;
}

#video-comments {
  grid-area: video-comments;
}
